.navbar {
    font-family: 'Irish Grover', cursive;
    font-size: 1.5rem;

}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.gold {
    color: #F5C13B;
    font-size: 2rem;
}

input[class='form-control'] {
    background: rgba(196, 196, 196, 0.31);
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'IM FELL French Canon', serif;
}

body {
    font-family: 'IM Fell French Canon', serif;
}

header {
    font-family: 'IM Fell English', serif;
}

.bg-chocolate {
    background-color: #252222;
}

footer {
    color: white;
    font-family: 'IBM Plex Serif', serif;
}

footer .link, a {
    color: white;
    text-decoration: none;

}

.link:hover, a {
    text-decoration: none;
    color: #a2a2a2;

}

h1 {
    font-size: 4rem;
}

.tab {
    overflow: hidden;
}

.tablinks {
    width: 100%;
}

.tab button {
    background-color: #f1f1f1;
    height: 141px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 800;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #252222;
    color: #F5C13B;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.active {
    display: block;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ingredient-card {
    background: rgba(214, 162, 61, 0.46);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    width: 100%;
}

.ingredient-card img {
    width: 100%;
    border-radius: 150px;
}

.ingredient-text {
    font-family: 'Homenaje', sans-serif;
    font-size: 2rem;
}

.ingredient-name {
    color: #FFFFFF;
}

.ingredient-button-group {
    position: absolute;
    right: 30%;
    bottom: 10%;
}

.ingredient-button {
    width: 145px;
    height: 51px;
    font-family: 'Arvo', serif;
    background: #654B2D;
    border-radius: 30px;
    padding: 1rem 2rem;
}

.btn-dark {
    background: #252222;
    z-index: 99999999 !important;
}